<div class="container" fxLayout fxLayoutAlign="center">
  <img src="\assets\Images\Covid19\back.png" style="width: 100%" />
  <div class="flipcard centered">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="container" class="flip-card-front">
          <img
            src="\assets\Images\Covid19\Covid.jpg"
            alt="Avatar"
            style="width: 400px; height: 400px"
          />
          <div class="centered"><h1>What Is Coronavirus?</h1></div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center" class="flip-card-back">
          <p>
            Coronaviruses are a large family of viruses which may cause illness
            in animals or humans. In humans, several coronaviruses are known to
            cause respiratory infections ranging from the common cold to more
            severe diseases such as Middle East Respiratory Syndrome (MERS) and
            Severe Acute Respiratory Syndrome (SARS). The most recently
            discovered coronavirus causes coronavirus disease COVID-19.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

