<div fxHide.lt-md>
  <div class="container">
    <img
      class="back"
      src="\assets\Images\Covid19\back.png"
      style="width: 100%"
    />
    <div class="centered">
      <div>
        <h1>Corona Covid-19 Tracker Country Wise</h1>
        <br /><br />
        <div>
          <div>
            <label for="c">Select Country</label><br />
            <select
              name=""
              class="form-control"
              id="c"
              #input
              (change)="updateValues(input.value)"
            >
              <option value="{{ con }}" *ngFor="let con of countries">
                {{ con }}
              </option>
            </select>
          </div>
        </div>
        <br /><br />
        <app-dashboard-card
          [totalConfirmed]="totalConfirmed"
          [totalActive]="totalActive"
          [totalRecovered]="totalRecovered"
          [totalDeaths]="totalDeaths"
        ></app-dashboard-card>
      </div>
    </div>
  </div>
</div>

<div fxHide.gt-md>
  <div class="container2">
    <img
      class="back"
      src="\assets\Images\Covid19\back.png"
      style="width: 100%"
    />
    <div class="centered">
      <div>
        <h1>Corona Covid-19 Tracker Country Wise</h1>
        <br /><br />
        <div>
          <div>
            <label for="c">Select Country</label><br />
            <select
              name=""
              class="form-control"
              id="c"
              #input
              (change)="updateValues(input.value)"
            >
              <option value="{{ con }}" *ngFor="let con of countries">
                {{ con }}
              </option>
            </select>
          </div>
        </div>
        <br /><br />
        <app-dashboard-card
          [totalConfirmed]="totalConfirmed"
          [totalActive]="totalActive"
          [totalRecovered]="totalRecovered"
          [totalDeaths]="totalDeaths"
        ></app-dashboard-card>
      </div>
    </div>
  </div>
</div>
