<br />
<div fxHide.lt-md>
  <div fxLayout fxLayoutGap="40px" fxLayoutAlign="center center">
    <section>
      <mat-card
        fxLayout="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center center"
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
      >
        <mat-card-title>Active</mat-card-title>
        <mat-card-content>{{ totalActive }}</mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card
        fxLayout="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center center"
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
      >
        <mat-card-title>Confirmed</mat-card-title>
        <mat-card-content>{{ totalConfirmed }}</mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card
        fxLayout="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center center"
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
      >
        <mat-card-title>Deaths</mat-card-title>
        <mat-card-content>{{ totalDeaths }}</mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card
        fxLayout="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center center"
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
      >
        <mat-card-title>Recovered</mat-card-title>
        <mat-card-content>{{ totalRecovered }}</mat-card-content>
      </mat-card>
    </section>
  </div>
</div>
<br />
